$bgColor:black;
$textColor:white;


*{
    z-index: 10;
    box-sizing: border-box;
    color:$textColor;
}

html, body{
    margin:0;
    padding: 0;
    border:0;
    height:100%;
    width:100%;
    background: $bgColor;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

#menu{
    height:auto;
    background: orange;
    display: flex;
    flex-direction: column;
}

#menu-nav{
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
}

input{
    background: black;
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
    border:0;
    font-family: Arial, Helvetica, sans-serif;
}

#arr{
    padding: 10px;
    display: flex;

    
    >input{
        width:100%;
    }
}

#arr-random{
    width:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:26px;
    padding: 10px;
    margin-left: 15px;
    background: crimson;
    border-radius: 5px;
    cursor: pointer;
}

#algorythms{
    padding: 10px;
    display: flex;
}

.algo:first-child{
    margin-left:0;
}

.algo{
    padding: 10px 20px;
    font-size:28px;
    cursor: pointer;
    background: #1240a3;
    margin: 10px;
    border-radius: 5px;
    border: 5px solid #1240a3;;
}

.selected{
    border: 5px solid white;
}

#params{
    display: flex;
}

#start{
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    background: green;
    font-size:30px;
    font-weight: bold;
    cursor: pointer;
}

#menu-roll{
    width:100%;
    height:50px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    >div{
        display: flex;
        margin:0 auto;
        width:50px;
        height:50px;
        align-items: center;
        justify-content: center;
        transform: rotate(90deg);
        font-weight: bold;
        font-size: 1.4rem;
        color:white;
        letter-spacing: 2px;
    }
}

#wrap{
    width:100%;
    height:100%;
}
